/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.

Try uncommenting the code below. Then, change
the primary color from blue to red.

This is a useful way to keep a consistent color
across many rules.
*/

/*
:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

h1 {
	color: var(--color-primary);
}
*/